@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900|Open+Sans:300,400,700|Raleway:300,400,700,900');

body{
    margin: 0px;
    padding: 0px;
    background-color: #181818;
    font-family: Montserrat;
}
#MenuIcon{
    height: 25px;
    width: 50px;
    position: fixed;
    top:50;
    right: 50;
}
#MenuIcon:hover{
    cursor: pointer;
}
#MenuLine{
    height: 4px;
    width: 50px;
    background-color: #C0C0C0;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .3s;
}
#MenuIcon:hover #MenuLine{
    width: 40px;
}
#MenuLine::before{
    content: '';
    height: 4px;
    width: 40px;
    background-color: #C0C0C0;
    position: absolute;
    margin-top: 10px;
    transition: all .3s;
}
#MenuIcon:hover #MenuLine::before{
    width: 50px;
}
#MenuLine::after{
    content: '';
    height: 4px;
    width: 40px;
    background-color:#C0C0C0;
    position: absolute;
    margin-top: -10px;
    transition: all .3s;
}
#MenuIcon:hover #MenuLine::after{
    width: 50px;
}
#MainMenu{
    height: 100vh;
    width: 300px;
    background-color: #124559;
    -webkit-clip-path:polygon(0 0,100% 0,0% 100%,0% 100%);
    position: fixed;
    top:0;
    left: -300px;
    transition: all .5s ease-in-out;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    color:white;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
ul li{
    margin: 20px;
}
ul li:hover{
    cursor: pointer;
}
.line{
    height: 2px;
    width: 150px;
    background-color: white;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all .3s;
}
ul li:hover .line{
    width: 180px;
    height: 3px;
    background-color: #181818;
}

#close{
    position: absolute;
    bottom: 150;
    left: 50%;
    transform: translate(-50%);
    
}
#close:hover{
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
  }

a:hover {
    color:#181818;
  }

.content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 280%;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 300;
}

#me {
    font-size: 35px;
}

.social a {
    padding-left: 15px;
}

.social a:hover {
    color: #AEC3B0;
}

@media only screen and (max-width:680px) { 
    .content {
        font-size: 16px;
    }
    
    #me {
        font-size: 25px;
    }   
}
