:root {
    --dark-grey: #555;
    --light-grey: #999;
    --light-color: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
}
  
body {
    background-color: var(--light-color, #f9f9f9);
    font-family: "Lato", sans-serif;
    overflow: visible;
}

h1 {
    color: var(--dark-grey, #555);
    font-size: 44px;
    text-align: center;
    margin-top: 40px;
}
  
p {
    color: var(--light-grey, #999);
    font-size: 24px;
    text-align: center;
}

p::after {
    content: '';
    display: block;
    height: 0px;
    width: 70px;
    border-bottom: 3px solid var(--dark-grey, #555);
    margin: 20px auto 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #181818;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(calc(9vw + 9vh),1fr));
    grid-gap: 2vmin;
    grid-auto-flow: dense;
    padding: 40px 0;
}
  
.thumbnail:first-child {
    grid-column: span 3;	
    grid-row: span 3;	
}

.thumbnail:nth-child(n+2) {
    grid-column: 4;
}

.thumbnail:nth-child(5) {
    grid-column: auto;
    grid-row: span 3;	
}
  
.thumbnail img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: filter .3s;
    filter: grayscale(100%) brightness(80%);
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
  
.thumbnail img:hover{
    filter: grayscale(0%) brightness(100%);
    transition: filter .3s;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 50vmin #000 inset;
    color: var(--light-color, #fff);
    text-decoration: none;
}

.lightbox figcaption {
    padding-top: 10px;	
}
  
.full {
    text-align: center;
}
  
.full img {
    max-width: 90vw;
    max-height: 85vh;
    margin-top: 4vh;
}
  
.lightbox:target {
    display: block;
}

.cool-link {
    display: inline-block;
    color: var(--light-grey, #999);
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    left: 85%;
    bottom: 8%;
}

.cool-link::after {
    content: '';   
    display: block;
    width: 0px;
    height: 3px;
    background: #181818;
    transition: width .5s;
}

.cool-link:hover::after {
    width: 100%;
}
    
@media only screen and (max-width:680px) { 
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 10px;
    }
    .container{
        display: block;
        padding: 50px 0 0 0;
        width: 100%;
    }
    .thumbnail img {
        margin-bottom: 2px;
        filter: grayscale(0%) brightness(100%);
        box-shadow: none;
    }      
}
